.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 42rem;
  width: 100%;
}

.nav {
  /* padding: 2rem; */
  display: flex;
  justify-content: flex-start;
}

@media (min-width: 640px) {
  .nav {
    /* padding-bottom: 4rem; */
  }
}
.navItem {
  padding: 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.navItem:hover {
  background-color: lightgray;
}

.themeSwitcher {
  background-color: inherit;
  padding: 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* .themeSwitcher:hover {
  border: none;
  background-color: rgb(253, 248, 229);
} */
