/* better scope for linkedin css */
.linkedin:hover > svg > rect:nth-child(2) {
  fill: #0b63bc;
  stroke: #0b63bc;
  transition-property: stroke, fill;
  transition-duration: 250ms;
}

.linkedin > svg > rect:nth-child(2) {
  fill: transparent;
  stroke: #fff;
  transition-property: stroke, fill;
  transition-duration: 250ms;
}


/* better scope for github css */
.github:hover > svg {
  fill: #0a63bc;
  transition-duration: 200ms;
}

.github > svg {
  transition-duration: 200ms;
}