/* better scope for linkedin css */
.linkedin:hover > rect:nth-child(2) {
  fill: #0b63bc;
  stroke: #0b63bc;
  transition-property: stroke, fill;
  transition-duration: 250ms;
}

.linkedin > rect:nth-child(2) {
  fill: transparent;
  stroke: #fff;
  transition-property: stroke, fill;
  transition-duration: 250ms;
}

/* better scope for at css */
.at > circle:nth-child(2) {
  opacity: 0;
  transition-duration: 250ms;
}

.at:hover > circle:nth-child(2) {
  opacity: 0.2;
  transition-duration: 250ms;
}
