/* better scope for linkedin css */
.linkedin:hover > svg > rect:nth-child(2) {
  fill: #0b63bc;
  stroke: #fff;
  stroke-width: 12;
  transition-property: stroke, fill;
  transition-duration: 250ms;
}

.linkedin > svg > rect:nth-child(2) {
  fill: transparent;
  stroke: #fff;
  stroke-width: 12;
  transition-property: stroke, fill;
  transition-duration: 250ms;
}


/* better scope for github css */
.github:hover > svg {
  fill: #989898;
  transition-duration: 200ms;
}

.github > svg {
  transition-duration: 200ms;
}


.tailwind:hover > svg > path {
  fill: #38bdf8;
  transition-duration: 250ms;
}


.at > svg > circle:nth-child(2) {
  fill: transparent
}

.at:hover > svg > circle:nth-child(2) {
  fill: #989898;
  transition-duration: 250ms;
}

.at > svg > circle:nth-child(3) {
  stroke-width: 12;
}

.at > svg > path:nth-child(4) {
  stroke-width: 12;
}